<div class = "page-wrapper">
  <div class = "input-wrapper">
    <mat-input-container class="full-width">
        <input matInput placeholder="Amount" appOnlyNumber = "true" [(ngModel)] ="addObj.amount">
    </mat-input-container>
  </div>

  <div class = "input-wrapper">
      <!-- <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
    <mat-input-container class="full-width">
        <input matInput [matDatepicker]="picker" [(ngModel)] ="addObj.date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-input-container>
    <mat-datepicker touchUi="true" #picker></mat-datepicker>
  </div>

  <div class = "input-wrapper">
    <mat-select placeholder="Category" [(ngModel)] ="addObj.category" class="full-width">
        <mat-option *ngFor="let cat of appCategory" [value]="cat.id">
          {{ cat.name }}
        </mat-option>
    </mat-select>
  </div>

  <div class = "input-wrapper">
    <mat-input-container class="example-full-width" class="full-width">
        <textarea matInput placeholder="Description" [(ngModel)] = "addObj.desc"></textarea>
    </mat-input-container>
  <div>

  <div class = "input-wrapper">
    <div class = "full-width">
        <a class = "fl-left" mat-raised-button (click) = "back()">Back</a>
        <button class = "fl-right" mat-raised-button (click) = "addItem()" color = "warn">{{action == 'add'?'Add':'Update'}}</button>
    </div>
  </div>

</div>