<mat-toolbar color="accent">
        <span class = "app-title" (click)="goTo('dashboard')">Tracker</span>
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <span *ngIf = "(user | async)"> 
                <span class = "user-wrap">
                        <span *ngIf = "(user | async)?.photoURL">
                                <img src ="{{ (user | async)?.photoURL }}" class = "user-image" height = "30" width = "auto">
                        </span>
                        <span class="user-name">{{ (user | async)?.displayName }}</span>
                        <mat-icon class = "logout-icon" [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon>
                        <mat-menu #menu="matMenu">
                        <button mat-menu-item (click) = "logout()">
                                <span>Logout</span>
                        </button>
                        </mat-menu>
                </span>
        </span>
        <span class = "login" (click) = "login()" *ngIf = "!(user | async)">Login</span>
</mat-toolbar>
<router-outlet></router-outlet>